# **LIST**

In [280]:
#create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [281]:
#Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [282]:
print(len(thislist))

5

In [283]:
#String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [284]:
#A list with strings, integers and boolean values:
list1 = ["abc", "34", True, 40, "male"]
print(list1)

['abc', '34', True, 40, 'male']

In [285]:
#What is the data type of a list?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [286]:
#Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [287]:
#Access list item
print(thislist[0])

apple

In [288]:
#Print the second item of the list:
print(thislist[1])

banana

In [289]:
#Print the last item of the list:

print(thislist[-1])

cherry

In [290]:
#Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [291]:
#This example returns the items from the beginning to, but NOT including, "kiwi":
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [292]:
#This example returns the items from "cherry" to the end:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango', 'mango']

In [293]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
print(thislist[-4:-1])

['kiwi', 'melon', 'mango']

In [294]:
print(thislist[2:-2])

['cherry', 'orange', 'kiwi', 'melon']

In [295]:
#Check if "apple" is present in the list:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
else :
  print("No")

Yes, 'apple' is in the fruits list

In [296]:
#Check if "apple" is present in the list:
if "durian" in thislist:
  print("Yes, 'durian' is in the fruits list")
else :
  print("No")

No

In [297]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [298]:
#Change the second item:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [299]:
#Change the values "blackcurrant" and "cherry" with the values "banana" and "watermelon":
thislist[1:3] = ["banana", "watermelon"]
print(thislist)

['apple', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [300]:
thislist[1:2] = ["blackcurrant", "dragonfruit"]
print(thislist)

['apple', 'blackcurrant', 'dragonfruit', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [301]:
#Change the second and third value by replacing it with one value:
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [302]:
#Insert "cherry" as the third item:
thislist.insert(2, "cherry")
print(thislist)

['apple', 'watermelon', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [303]:
#Using the append() method to append an item:

thislist.append("orange")
print(thislist)

['apple', 'watermelon', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [304]:
#Insert an item as the second position:
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'watermelon', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [305]:
#Add the elements of tropical to thislist:
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'orange', 'watermelon', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya']

In [306]:
#Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [307]:
#Remove "banana":
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi', 'orange']

In [308]:
#Remove the first occurance of "banana":

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [309]:
#Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [310]:
#Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [311]:
#Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [312]:
#Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

In [313]:
#Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [314]:
#Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [315]:
#Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [316]:
#Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(2):
  print(thislist[i])

apple
banana

In [317]:
#Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [318]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [319]:
#Check if "apple" is present in the list:
baru = ["apple", "banana", "cherry", "kiwi", "mango"]
if "a" in baru:
  print("Yes, 'a' is in the fruits list")
else :
  print("No")

No

In [320]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [321]:
#Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [322]:
#With no if statement:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [323]:
#You can use the range() function to create an iterable:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [324]:
#Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [325]:
#Set the values in the new list to upper case:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [326]:
#Set all values in the new list to 'hello':
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [327]:
#Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [328]:
#Sort the list alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [329]:
#Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [330]:
#Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [331]:
#Sort the list descending:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [332]:
#Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [333]:
#Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [334]:
#Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [335]:
#Reverse the order of the list items:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [336]:
#Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [337]:
#Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [338]:
#Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [339]:
#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [340]:
#Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

<h2><b>Python - List Methods</b></h2>
<h3><b>List Methods</b></h3>
Python has a set of built-in methods that you can use on lists.

<table border="1">
    <thead>
        <tr>
            <td><b>Method</b><td>
            <td><b>Description</b></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>append()<td>
            <td>Adds an element at the end of the list</td>
        </tr>
        <tr>
            <td>clear()<td>
            <td>Removes all the elements from the list</td>
        </tr>
        <tr>
            <td>copy()<td>
            <td>Returns a copy of the list</td>
        </tr>
        <tr>
            <td>count()<td>
            <td>Returns the number of elements with the specified value</td>
        </tr>
        <tr>
            <td>extend()<td>
            <td>Add the elements of a list (or any iterable), to the end of the current list</td>
        </tr>
        <tr>
            <td>index()<td>
            <td>Returns the index of the first element with the specified value</td>
        </tr>
        <tr>
            <td>insert()<td>
            <td>Adds an element at the specified position</td>
        </tr>
        <tr>
            <td>pop()<td>
            <td>Removes the element at the specified position</td>
        </tr>
        <tr>
            <td>remove()<td>
            <td>Removes the item with the specified value</td>
        </tr>
        <tr>
            <td>reverse()<td>
            <td>Reverses the order of the list</td>
        </tr>
        <tr>
            <td>sort()<td>
            <td>Sorts the list</td>
        </tr>
    </tbody>
</table>

# **TUPLE**

In [341]:
#create tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [342]:
#Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [343]:
#Print the number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [344]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [345]:
#String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry") #string
tuple2 = (1, 5, 7, 9, 3) #integer
tuple3 = (True, False, False) #boolean

In [346]:
#A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [347]:
#What is the data type of a tuple?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [348]:
#Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [349]:
#Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [350]:
#Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [351]:
#Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [352]:
#This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [353]:
#This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [354]:
#This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [355]:
#Check if "apple" is present in the tuple:
thistuple = ("apple","banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else :
  print("No, 'apple' is not in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [356]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [357]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print('->before add new item')


y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)
print('->after add new item')

('apple', 'banana', 'cherry')
->before add new item
('apple', 'banana', 'cherry', 'orange')
->after add new item

In [358]:
#Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange","strawberry")
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'strawberry')

In [359]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [360]:
#Packing a tuple:
fruits = ("apple", "banana", "cherry")

In [361]:
#Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [362]:
#Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [363]:
#Add a list of values the "tropic" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [364]:
#Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [365]:
#Print all items by referring to their index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [366]:
#Print all items, using a while loop to go through all the index numbers:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [367]:
#Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [368]:
#Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

<h2><strong>Python - Tuple Methods</strong></h2>
<h3>Tuple Methods</h3>
<p>Python has two built-in methods that you can use on tuples.</p>

<table border="1">
    <thead>
        <tr>
            <td><strong>Method</strong></td>
            <td><strong>Description</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>count()</td>
            <td>Returns the number of times a specified value occurs in a tuple</td>
        </tr>
        <tr>
            <td>index()</td>
            <td>Searches the tuple for a specified value and returns the position of where it was found</td>
        </tr>
    </tbody>
</table>

# **SETS**

In [369]:
#Create a Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [370]:
#Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [371]:
#True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [372]:
#False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [373]:
#Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [374]:
#String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [375]:
#What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [376]:
#Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [377]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [378]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [379]:
#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [380]:
#Add elements from tropical into thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'mango', 'papaya', 'apple', 'banana', 'cherry'}

In [381]:
#Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'cherry', 'kiwi', 'apple', 'banana'}

In [382]:
#Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [383]:
#Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [384]:
#Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [385]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [386]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [387]:
#The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [388]:
#Keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [389]:
#Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [390]:
#Keep the items that are not present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [391]:
#Return a set that contains all items from both sets, except items that are present in both:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'google', 'banana', 'microsoft'}

In [392]:
#True and 1 is considered the same value:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}
z = x.symmetric_difference(y)
print(z)

{2, 'google', 'banana', 'cherry'}

<h2><b>Python - Set Methods</b></h2>
<h3><b>Set Methods</h3></b>
Python has a set of built-in methods that you can use on sets.

<table border="1">
    <thead>
        <tr>
            <td><b>Method</b><td>
            <td><b>Description</b></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>add()<td>
            <td>Adds an element to the set</td>
        </tr>
        <tr>
            <td>clear()<td>
            <td>Removes all the elements from the set</td>
        </tr>
        <tr>
            <td>copy()<td>
            <td>Returns a copy of the set</td>
        </tr>
        <tr>
            <td>difference()<td>
            <td>Returns a set containing the difference between two or more sets</td>
        </tr>
        <tr>
            <td>difference_update()<td>
            <td>Removes the items in this set that are also included in another, specified set</td>
        </tr>
        <tr>
            <td>discard()<td>
            <td>Remove the specified item</td>
        </tr>
        <tr>
            <td>intersection()<td>
            <td>Returns a set, that is the intersection of two other sets</td>
        </tr>
        <tr>
            <td>intersection_update()<td>
            <td>Removes the items in this set that are not present in other, specified set(s)</td>
        </tr>
        <tr>
            <td>isdisjoint()<td>
            <td>Returns whether two sets have a intersection or not</td>
        </tr>
        <tr>
            <td>issubset()<td>
            <td>Returns whether another set contains this set or not</td>
        </tr>
        <tr>
            <td>issuperset()<td>
            <td>Returns whether this set contains another set or not</td>
        </tr>
        <tr>
            <td>pop()<td>
            <td>Removes an element from the set</td>
        </tr>
        <tr>
            <td>remove()<td>
            <td>Removes the specified element</td>
        </tr>
        <tr>
            <td>symmetric_difference()<td>
            <td>Returns a set with the symmetric differences of two sets</td>
        </tr>
        <tr>
            <td>symmetric_difference_update()<td>
            <td>inserts the symmetric differences from this set and another</td>
        </tr>
        <tr>
            <td>union()<td>
            <td>Return a set containing the union of sets</td>
        </tr>
        <tr>
            <td>update()<td>
            <td>Update the set with the union of this set and others</td>
        </tr>       
    </tbody>
</table>

# **DICTIONARIES**

In [393]:
#Create and print a dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [394]:
#Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [395]:
#Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [396]:
#Print the number of items in the dictionary:
print(len(thisdict))

3

In [397]:
#String, int, boolean, and list data types:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [398]:
#Print the data type of a dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [399]:
#Using the dict() method to make a dictionary:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [400]:
#Get the value of the "model" key:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [401]:
#Get the value of the "model" key:
x = thisdict.get("model")
print(x)

Mustang

In [402]:
#Get a list of the keys:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [403]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [404]:
#Get a list of the values:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [405]:
#Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [406]:
#Add a new item to the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [407]:
#Get a list of the key:value pairs
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [408]:
#Make a change in the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [409]:
#Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [410]:
#Check if "model" is present in the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
else :
  print ("No")

Yes, 'model' is one of the keys in the thisdict dictionary

In [411]:
#Change the "year" to 2018:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [412]:
#Update the "year" of the car by using the update() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [413]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [414]:
#Add a color item to the dictionary by using the update() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [415]:
#The pop() method removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [416]:
#Loop
#Print all key names in the dictionary, one by one:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [417]:
#Make a copy of a dictionary with the copy() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [418]:
#Nested Dictionaries
#Create a dictionary that contain three dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [419]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

<h3><b>Dictionary Methods</b></h3>
Python has a set of built-in methods that you can use on dictionaries.

<table border="1">
    <thead>
        <tr>
            <td><b>Method</b><td>
            <td><b>Description</b></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>clear()<td>
            <td>Removes all the elements from the dictionary</td>
        </tr>
       <tr>
            <td>copy()<td>
            <td>Returns a copy of the dictionary</td>
        </tr>
        <tr>
            <td>fromkeys()<td>
            <td>Returns a dictionary with the specified keys and value</td>
        </tr>
        <tr>
            <td>get()<td>
            <td>Returns the value of the specified key</td>
        </tr>
        <tr>
            <td>items()<td>
            <td>Returns a list containing a tuple for each key value pair</td>
        </tr>
        <tr>
            <td>keys()<td>
            <td>Returns a list containing the dictionary's keys</td>
        </tr>
        <tr>
            <td>pop()<td>
            <td>Removes the element with the specified key</td>
        </tr>
        <tr>
            <td>popitem()<td>
            <td>Removes the last inserted key-value pair</td>
        </tr>
        <tr>
            <td>setdefault()<td>
            <td>Returns the value of the specified key. If the key does not exist: insert the key, with the specified value</td>
        </tr>
        <tr>
            <td>update()<td>
            <td>Updates the dictionary with the specified key-value pairs</td>
        </tr>
        <tr>
            <td>values()<td>
            <td>Returns a list of all the values in the dictionary</td>
        </tr>
    </tbody>
</table>

## <h3 id="WeeklyExercise1">Weekly Exercise 1</h3>
Sebutkan dan jelaskan perbedaan dari list, tuple, set dan dictionary dalam python

Perbedaan dari list, tuple, set dan dictionary yaitu:
<p> 1. List merupakan tipe data yang diurutkan dan dapat diubah setelah dibuat dengan menambahkan, menghapus, atau mengubah objek. List dideklarasikan dengan menggunakan tanda kurung siku "[]" setelah nama variabel.</p>
<p> 2. Tuple merupakan tipe data yang terurut dan tidak dapat diubah karena tipe data ini menyimpan beberapa item dalam satu variabel. Tuple sendiri dapat dibuat dengan sepasang objek yang dipisahkan tanda kurung "()" dan koma "," yang mengikuti nama variabel </p>
<p> 3. Set merupakan tipe data koleksi yang tidak berurutan dan dapat muncul dalam urutan berbeda setiap kali digunakan. Set tidak mendukung indeks atau key dan tidak mendukung objek duplikat, hanya menampilkan satu objek meskipun ada duplikat. </p>
<p> 4. Dictionary merupakan tipe data yang tidak teratur dan dapat diubah, hanya mengizinkan penambahan atau penghapusan data. Dictionary tidak mendukung duplikasi karena hanya ada satu key dalam setiap item, sehingga akan menimpa nilai sebelumnya apabila terdapat dua key. </p>

In [420]:
data_mhs = {
    "Nama": "Ranum",
    "Kelas": "1",
    "Tanggal Lahir": "12 Januari 1999",
    "No. Hp": "083178467893",
    "Alamat": "Jl. Melati No 4",
    "Hobi": ["Membaca", "Menonton", "Memasak"]
}

for key, value in data_mhs.items():
    if isinstance(value, list):
        print(f"{key}:")
        for index, hobby in enumerate(value, start=1):
            print(f" {index}. {hobby}")
    else:
        print(f"{key}: {value}")

Nama: Ranum
Kelas: 1
Tanggal Lahir: 12 Januari 1999
No. Hp: 083178467893
Alamat: Jl. Melati No 4
Hobi:
 1. Membaca
 2. Menonton
 3. Memasak