In [8]:
range(3)

range(0, 3)

In [9]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [10]:
for i in range(-2, 8):
    print(i)

-2
-1
0
1
2
3
4
5
6
7

In [11]:
for i in range(-2, 8):
    print(i)

-2
-1
0
1
2
3
4
5
6
7

In [12]:
for year in dates:
    print(year)

1982
1980
1973

In [13]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

In [14]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [15]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [16]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [17]:
names = ['Kelly', 'Jessa', 'Emma']

for name in names:
    count = 0
    while count < 5:
        print(name, end=' ')
        count = count + 1
    print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

In [18]:
for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [19]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [20]:
i = 1
while i <= 5:
    j = 1
    while j <= 10:
        print(j, end='')
        j = j + 1
    i = i + 1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [21]:
print('Show Perfect number fom 1 to 100')
n = 2
# outer while loop
while n <= 100:
    x_sum = 0
    # inner for loop
    for i in range(1, n):
        if n % i == 0:
            x_sum += i
    if x_sum == n:
        print('Perfect number:', n)
    n += 1

Show Perfect number fom 1 to 100
Perfect number: 6
Perfect number: 28

**EXCERCISE 1** **bold text**

In [22]:
star = int(input("Masukkan jumlah baris: "))
baris = star - 1
print()
for i in range(0, star):
  for j in range(0, star):
    print(" ", end="")
  star -= 1
  for j in range(0, i +1):
    print("*", end=" ")
  print("")

Masukkan jumlah baris: 30

                              *
                             * *
                            * * *
                           * * * *
                          * * * * *
                         * * * * * *
                        * * * * * * *
                       * * * * * * * *
                      * * * * * * * * *
                     * * * * * * * * * *
                    * * * * * * * * * * *
                   * * * * * * * * * * * *
                  * * * * * * * * * * * * *
                 * * * * * * * * * * * * * *
                * * * * * * * * * * * * * * *
               * * * * * * * * * * * * * * * *
              * * * * * * * * * * * * * * * * *
             * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

# **EXCERCISE 2**

In [23]:
pascal = int(input("jumlah baris segitiga pascal = "))

for i in range(1, pascal + 1):
    for j in range(0, pascal - i+1):
        print(" ", end="")
        n = 1
    for j in range(1, i+1):
        print(" ", n, sep='', end='')
        n = n * (i-j)//j

    print()

jumlah baris segitiga pascal = 4
     1
    1 1
   1 2 1
  1 3 3 1

# **EXCERCISE 3**

In [24]:
baris = int(input("Masukkan jumlah baris: "))
baris_penjumlahan = int(input("Masukkan baris yang ingin dijumlahkan: "))

if baris_penjumlahan <= baris:
    total = 0
    for x in range(baris):
        z = 1
        if x == baris_penjumlahan - 1:
            for y in range(x + 1):
                print(z, end=' ')
                total += z
                z = z * (x - y) // (y + 1)
            print(f"= {total}")
            break
else:
   print(f"Error: Baris yang ingin dijumlahkan ({baris_penjumlahan}) melebihi jumlah baris yang tersedia ({baris})")

Masukkan jumlah baris: 5
Masukkan baris yang ingin dijumlahkan: 5
1 4 6 4 1 = 16